html {
  color:#000080;
  background-color: #fdfdf0;
}
a:hover {
  color: #ff00ff;
}
a:link {
  text-decoration: none;
header {
  width:100%;
  height:7%;
  position:fixed;
  background-color: #eef3e2;
}
nav {
  font-family: tahoma;
  margin-top:-40px;
  margin-left:30%;
  width:30%;
}
#social {
  margin-top:-22px;
  margin-left:65%;
}
#search-bar {
  margin-top:-25px;
  margin-left:80%;
}
footer {
  background-color:#eef3e2;
  width:100%;
  height:7%;
  position:fixed;
}