html {
  color:#000080;
  background-color: #ffffff;
}
a:hover {
  color: #ff00ff;
}
nav {
  font-family: tahoma;
  border:1px dashed;
  margin-top:-20px;
  margin-left:50px;
  width:50%;

}
.bio {
  text-align: center;
  border:1px dashed;
}
header {
  width:100%;
  position:fixed;
  background-color: #ffffff;
  border:1px dashed;

}