html {
  color:#000080;
  background-color: #ffffff;
}
a:hover {
  color: #ff00ff;
}
a:link {
  text-decoration: none;
}
nav {
  font-family: tahoma;
  border:1px dashed;
  margin-top:-40px;
  margin-left:170px;
  width:30%;
}
#bio {
  text-align: center;
  border:1px dashed;
}
header {
  width:100%;
  position:fixed;
  background-color: #ffffff;
  border:1px dashed;
}
#social {
  margin-top:-22px;
  margin-left:65%;
}
#search-bar {
  margin-top:-25px;
  margin-left:80%;
}