html {
  color:#000080;
  background-color: #fdfdf0;
}
a:hover {
  color: #ff00ff;
}
a:link {
  text-decoration: none;
}
h5 {
  margin-left:10%;
  font-family:tahoma;
}
nav {
  font-family: tahoma;
  margin-top:-40px;
  margin-left:40%;
  width:30%;
}
#bio {
  margin-left: 38%;
  width: 26%;
  font-family: verdana;
  text-align: center;
}
header {
  width:100%;
  padding: 1%;
  position:fixed;
  background-color: #eef3e2;
  margin-top: -1%;
  margin-left: -1%;
}
#social {
  margin-top:-22px;
  margin-left:65%;
}
#search-bar {
  margin-top:-25px;
  margin-left:80%;
}
IMG.profile {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding-top:5%;
  margin-bottom: -2%;
}
footer {
  background-color:#eef3e2;
  width:100%;
  margin-left: -1%;
  padding: 1%;
}